.poster {
    height: 75%;
    width: 75%;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tag {
    border-radius: 50px;
    background: rgb(24, 203, 209);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    height: 30px; 
    color: white; 
    display: flex;
    float: left;
}