.movie-list {
    text-align: center;
    /* columns: auto; */
    list-style-type: none;
 
    display: flex;
    flex-flow: row wrap; 
    padding: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:768px) {
    .ul {
        columns: 1;
    }
}

.movie-item {
    float: left; 
    width: 300px;
    height: 400px;
    /*border: 0.5px solid #000;*/
    margin: 40px;
    margin-bottom: 80px;
    /* float: left; */
}